<%= form_with model:book_new,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>

   <div class="form-group row" id="star">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <!--<div id="post_raty"></div>-->
  <!--<div id="image"></div>-->
  <!--<script>-->
  <!--  scriptファイルをどのidの部分に配置するかを指定-->
  <!--  let elem = document.querySelector('#post_raty');-->
  <!--  let opt = document.createElement('image');-->
  <!--  opt.src = "app/assets/images/no_image.jpg";-->
  <!--  document.write('<img src="app/assets/images/star-off.jpg" alt="画像の解説文">')-->
  <!--</script>-->

  <div id="post_raty"></div>
<script>
  // scriptファイルをどのidの部分に配置するかを指定
  let elem = document.querySelector('#post_raty');
  let opt = 
   "app/assets/images/star-on.png";
   
  raty(elem,opt);
</script>


  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
